
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #1ac5bd;
    font-size: 3vh;
  }
  
  header {
    background-color: #213137;
    color: #fff;
    padding: 10px;
    background: linear-gradient(to bottom, #393f45, #111316);
    color: #fff;
    font-size: 1vh; 
  }
  
  h1 {
    font-size: 2rem;
  }
  
  #chatbox {
    height: 50vh;
    overflow-y: scroll;
    border: 1px solid #212422;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 80%;
  }
  
  .message {
    display: flex;
    margin-bottom: 10px;
  }
  
  .message p {
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
  }
  
  .received p {
    background-color: #2f2b2b;
    align-self: flex-start;
  }
  
  .sent p {
    background-color: #f6f9fb;
    color: #1e1b1b;
    align-self: flex-end;
  }
  
  #input {
    /* display: flex; */
    align-items: center;
    padding: 10px;
    background-color: #161717;
  }
  
  #message {
    flex: 1;
    padding: 10px;
    border: 1px solid #160f0f;
    border-radius: 4px;
    margin-right: 1px;
  }
  
  #send {
    background-color: #e5eaee;
    color: #120f0f;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.8;
    background-color: #0f0f0f;
    text-align: center;
    padding: 20px;
    margin-bottom: -2vh;
    color: wheat;
}
  footer {
    background-color: brown;
    padding: 5px;
    text-align: center;
    font-size: 2vh;
    background: linear-gradient(to bottom, #323537, #06090c);
    font-size: 2vh;
    height: 7vh;
    max-height: 7vh;
  }
  @media only screen and (max-width: 768px) {
    footer {
      height: 20px;
    }
  }
  .container {
    display:inline-flex;
    max-width: 80vw;
    margin: 0 auto;
    font-size: 2vh;
    height: 6vh;
    max-height: 7vh;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

  }
  
  li {
    display: inline-block;
    margin: 0 5px;
  }
  
  
  a:hover {
    text-decoration: underline;
  }
.bi-youtube {
    color: red;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color:#fff;
  }
header a {
    color: #fff;
    font-size: 1rem;
}
  header img {
    height: 35px;
    margin-right: 1vw;
  }